{% extends 'base.html' %} {% block title %}Organizations Dashboard{% endblock %} {% block content %}
<h1>Organization Dashboard</h1>
<table>
    <thead>
        <tr>
            <th>Organization Name</th>
            <th>Domains</th>
            <th>Email Pattern</th>
            <th>HQ Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Country</th>
            <th>Phone Number</th>
            <th>Subsidiaries</th>
            <th>Targets</th>
            <th>Campaigns</th>
            <th>Implants</th>
            <th>Public Company</th>
        </tr>
    </thead>
    <tbody>
        {% for org in orgs %}
        <tr>
            <td>{{ org.org_name }}</td>
            <td>{{ org.domains }}</td>
            <td>{{ org.email_pattern }}</td>
            <td>{{ org.hq_address }}</td>
            <td>{{ org.city }}</td>
            <td>{{ org.state }}</td>
            <td>{{ org.zip }}</td>
            <td>{{ org.country }}</td>
            <td>{{ org.phone }}</td>
            <td>{{ org.subsidiaries }}</td>
            <td>{{ org.targets }}</td>
            <td>{{ org.campaigns }}</td>
            <td>{{ org.implants }}</td>
            <td>{{ org.public_co }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}