{% extends 'base.html' %} {% block title %}Organizations Dashboard{% endblock %} {% block content %}
<br>
<h1>Target Organizations Dashboard</h1>
<br>
<table>
    <thead>
        <tr>
            <th>Organization ID</th>
            <th>Organization Name</th>
            <th>Primary Website</th>
            <th>Secondary Domain</th>
            <th>Email Pattern</th>
            <th>Subsidiaries</th>
            <th>Public Company</th>
        </tr>
    </thead>
    <tbody>
        {% for org in orgs %}
        <tr>
            <td>{{ org.org_id }}</td>
            <td>{{ org.org_name }}</td>
            <td>{{ org.domain0 }} </td>
            <td>{{ org.domain1 }}</td>
            <td>{{ org.email_pattern }}</td>
            <td>{{ org.subsidiaries }}</td>
            <td>{{ org.public_co }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}