{% extends 'base.html' %} {% block title %} {{ target.name }} Profile {% endblock %} {% block content %}
<h1>{{ target.name }} Profile</h1>
<table>
    <tr>
        <th>Name</th>
        <td>{{ target.name }}</td>
    </tr>
    <tr>
        <th>Company</th>
        <td>{{ target.company }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ target.email }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ target.phone }}</td>
    </tr>
    <tr>
        <th>Primary IP Address</th>
        <td>{{ target.ip_address }}</td>
    </tr>
    <tr>
        <th>Secondary IP Address</th>
        <td>{{ target.ip_address_2 }}</td>
    </tr>
</table>
<h2>{{ target.name }} Device Info</h2>
<table>
    <tr>
        <th>Device Type</th>
        <td>{{ target.device_type }}</td>
    </tr>
    <tr>
        <th>Browser Type</th>
        <td>{{ target.browser_type }}</td>
    </tr>
    <tr>
        <th>Browser Screen Resolution</th>
        <td>{{ target.browser_screen_resolution }}</td>
    </tr>
    <tr>
        <th>Browser Language</th>
        <td>{{ target.browser_language }}</td>
    </tr>
    <tr>
        <th>Browser Timezone</th>
        <td>{{ target.browser_timezone }}</td>
    </tr>
    <tr>
        <th>Browser Cookies Enabled</th>
        <td>{{ target.browser_cookies_enabled }}</td>
    </tr>
    <tr>
        <th>Browser Local Storage Enabled</th>
        <td>{{ target.browser_local_storage_enabled }}</td>
    </tr>
    <tr>
        <th>Browser Session Storage Enabled</th>
        <td>{{ target.browser_session_storage_enabled }}</td>
    </tr>
    <tr>
        <th>Browser Plugins</th>
        <td>{{ target.browser_plugins|join(', ') }}</td>
    </tr>
    <tr>
        <th>Browser Fonts</th>
        <td>{{ target.browser_fonts|join(', ') }}</td>
    </tr>
</table>
<h2>{{ target.name }} Mobile Device Info</h2>
<table>
    <tr>
        <th>Mobile Device Type</th>
        <td>{{ target.mobile_device_type }}</td>
    </tr>
    <tr>
        <th>Mobile Device Browser</th>
        <td>{{ target.mobile_device_browser }}</td>
    </tr>
    <tr>
        <th>Mobile Browser Screen Resolution</th>
        <td>{{ target.mobile_browser_screen_resolution }}</td>
    </tr>
    <tr>
        <th>Mobile Browser Language</th>
        <td>{{ target.mobile_browser_language }}</td>
    </tr>
    <tr>
        <th>Mobile Browser Timezone</th>
        <td>{{ target.mobile_browser_timezone }}</td>
    </tr>
    <tr>
        <th>Mobile Browser Cookies Enabled</th>
        <td>{{ target.mobile_browser_cookies_enabled }}</td>
    </tr>
    <tr>
        <th>Mobile Browser Local Storage Enabled</th>
        <td>{{ target.mobile_browser_local_storage_enabled }}</td>
    </tr>
    <tr>
        <th>Mobile Browser Session Storage Enabled</th>
        <td>{{ target.mobile_browser_session_storage_enabled }}</td>
    </tr>
    <tr>
        <th>Mobile Browser Plugins</th>
        <td>{{ target.mobile_browser_plugins|join(', ') }}</td>
    </tr>
    <tr>
        <th>Mobile Browser Fonts</th>
        <td>{{ target.mobile_browser_fonts|join(', ') }}</td>
    </tr>
</table>
{% endblock %}