{% extends 'base.html' %} {% block title %}Subject Profiles Summary{% endblock %} {% block content %}
<br>
<h1>Subject Profiles</h1>
<br>
<table>
    <tr>
        <th>Subject ID</th>
        <th>Name</th>
        <th>Organization</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Primary IP Address</th>
        <th>Device Fingerprint</th>
        <th>Mobile Device Fingerprint</th>
    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{ subject.id }}</td>
        <td>{{ subject.name }}</td>
        <td>{{ subject.organization }}</td>
        <td>{{ subject.email }}</td>
        <td>{{ subject.phone }}</td>
        <td>{{ subject.ip_address }}</td>
        <td>{{ subject.device_type }}</td>
        <td>{{ subject.mobile_device_type }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}