{% extends 'base.html' %} {% block content %}
<br>
<h1>New Campaign</h1>
<br>
<form class="login-form" method="POST" action="{{ url_for('new_campaign') }}">

    <label for="campaign_name">Campaign Name</label>
    <input type="text" id="campaign_name" name="campaign_name" placeholder="Enter campaign name" required><br><br>

    <label for="org_name">Organization Name</label>
    <input type="text" id="org_name" name="org_name" placeholder="Enter organization name" required><br><br>

    <label for="targets" title="Enter email addresses, one per line">Targets</label>
    <textarea id="targets" name="targets" placeholder="Enter target email addresses, one per line" rows="5" cols="60" required></textarea><br><br>

    <label for="subject">Topic</label>
    <input type="text" id="subject" name="subject" placeholder="Enter email subject" required><br><br>

    <label for="landing_page_url">Landing Page URL (optional)</label>
    <input type="url" id="landing_page_url" name="landing_page_url" placeholder="Enter landing page URL"><br><br>

    <label for="landing_page_hosting_provider">Landing Page Hosting Provider (optional)</label>
    <input type="text" id="landing_page_hosting_provider" name="landing_page_hosting_provider" placeholder="Enter landing page hosting provider"><br><br>

    <input type="submit" value="Create Campaign">

</form>
{% endblock %}