{% extends 'base.html' %} {% block content %}
<br>
<br>
<form class="login-form" method="POST" action="{{ url_for('campaign_new_campaign') }}">
    <br>
    <h1>New Phishing Campaign</h1>
    <br>

    <label for="campaign_name">Campaign Name</label>
    <input type="text" id="campaign_name" name="campaign_name" placeholder="Enter campaign name" required><br><br>

    <label for="org_name">Organization Name</label>
    <input type="text" id="org_name" name="org_name" placeholder="Enter organization name" required><br><br>

    <label for="targets" title="Enter email addresses, one per line">Targets</label>
    <textarea style="width: 80%;" id="targets" name="targets" placeholder="Enter target email addresses, one per line" rows="5" required></textarea><br><br>

    <label for="subject">Topic</label>
    <input type="text" id="subject" name="subject" placeholder="Enter email subject" required><br><br>

    <label for="email_template">Email Template</label>
    <select id="email_template" name="email_template" required>
        <option value="template1">Template 1</option>
        <option value="template2">Template 2</option>
        <option value="template3">Template 3</option> </select><br><br>

    <label for="landing_page_url">Landing Page URL</label>
    <input type="url" id="landing_page_url" name="landing_page_url" placeholder="Enter landing page URL" required><br><br>

    <label for="landing_page_hosting_provider">Landing Page Hosting Provider</label>
    <select id="landing_page_hosting_provider" name="landing_page_hosting_provider" required>
        <option value="aws_api_gateway">AWS API Gateway (Unavailable)</option>
        <option value="aws_s3">AWS S3 (Unavailable)</option>
        <option value="aws_s3_cloudfront">AWS S3 w/ CloudFront (Unavailable)</option>
        <option value="azure_api_management_gateway">Azure API Management Gateway (Unavailable)</option>
        <option value="azure_static_site">Azure Static Site (Unavailable)</option>

    <input type="submit" value="Create Campaign">

</form>
{% endblock %}