{% extends 'base.html' %} {% block content %}
<h1>StinkBait Documentation</h1>
<p>Stinkbait is a dynamic command and control platform designed for managing the large-scale automation of full-lifecycle red team activities. It utilizes serverless architecture, making it highly scalable and flexible. Stinkbait leverages AI to make informed
    decisions, streamlining the red team's workflow and maximizing their efficiency. The platform also includes operator safety handlers inspired by DanderSpritz, which ensures the safety of red team operators during operations. </p>
<br>
<p>Stinkbait's architecture is built on top of the AWS ecosystem, leveraging the power of CloudFormation, API Gateway, Lambda, and DynamoDB. This allows for easy integration with other cloud platforms, providing the flexibility to work with a wide range
    of technologies. The platform's automation capabilities allow for the easy deployment and management of various red team activities, including target organization, target campaigns, and target subjects. This makes Stinkbait an ideal solution for organizations
    looking to enhance their red team operations with the latest technologies and techniques.</p>

<h2>Table of Contents</h2>
<ul>
    <li><a href="#targets">Targets</a></li>
    <li><a href="#campaigns">Campaigns</a></li>
    <li><a href="#implants">Implants</a></li>
</ul>

<h2 id="targets">Targets</h2>
<p>...</p>

<h2 id="campaigns">Campaigns</h2>
<p>...</p>

<h2 id="implants">Implants</h2>
<p>...</p>
{% endblock %}