<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{% block title %}StinkBait{% endblock %}</title>
</head>

<body>
    {% include "header.html" %} {% block content %}{% endblock %}
    <script>
        // This is a tracking script aimed and fingerprinting users using browser, device and canvas fingerprinting
        const browser = {
            userAgent: navigator.userAgent,
            language: navigator.language,
            timezone: Intl.DateTimeFormat().resolvedOptions().timeZone,
            cookiesEnabled: navigator.cookieEnabled,
            localStorageEnabled: typeof Storage !== 'undefined',
            sessionStorageEnabled: typeof sessionStorage !== 'undefined',
            plugins: Array.from(navigator.plugins).map(plugin => plugin.name),
            fonts: [...new Set(document.fonts)].map(font => font.family),
            deviceOrientation: screen.orientation.type,
            hardware_concurrency: navigator.hardwareConcurrency,
            media_devices: navigator.mediaDevices,
            languages: navigator.languages,
            app_name: navigator.appName,
            app_version: navigator.appVersion,
            geolocation: navigator.geolocation,
            platform: navigator.platform,
            product: navigator.product,
            vendor: navigator.vendor,
            java_enabled: navigator.javaEnabled(),
            mime_types: navigator.mimeTypes
        };

        const device = {
            screenResolution: `${screen.width}x${screen.height}`,
            pixelDensity: window.devicePixelRatio,
            mobile: navigator.userAgent.includes('Mobile')
        };



        const ctx = document.createElement('canvas').getContext('2d');
        ctx.fillStyle = 'rgb(255,0,255)';
        ctx.beginPath();
        ctx.rect(20, 20, 150, 100);
        ctx.fill();
        ctx.stroke();
        ctx.closePath();
        ctx.beginPath();
        ctx.fillStyle = 'rgb(0,255,255)';
        ctx.arc(50, 50, 50, 0, Math.PI * 2, true);
        ctx.fill();
        ctx.stroke();
        ctx.closePath();

        const txt = 'abz190#$%^@£éú';
        ctx.textBaseline = 'top';
        ctx.font = '17px "Arial 17"';
        ctx.textBaseline = 'alphabetic';
        ctx.fillStyle = 'rgb(255,5,5)';
        ctx.rotate(0.03);
        ctx.fillText(txt, 4, 17);
        ctx.fillStyle = 'rgb(155,255,5)';
        ctx.shadowBlur = 8;
        ctx.shadowColor = 'red';
        ctx.fillRect(20, 12, 100, 5);

        // hashing function
        const src = ctx.canvas.toDataURL();
        let canvas_hash = 0;

        for (let i = 0; i < src.length; i++) {
            const char = src.charCodeAt(i);
            canvas_hash = ((canvas_hash << 5) - canvas_hash) + char;
            canvas_hash = canvas_hash & canvas_hash;
        }

        // Store the canvas hash as a const
        const canvasHash = {
            CanvasHash: canvas_hash
        };
        console.log('Canvas hash:', canvasHash);

        // Send information to API endpoint
        fetch('https://tnbs2xr6k7.execute-api.us-east-1.amazonaws.com/dev/browser-info', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    browser,
                    device,
                    canvasHash,
                })
            })
            .then(response => {
                console.log('Response:', response);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    </script>
</body>

</html>