<header>
    {% if current_user.is_authenticated %}
    <div class="header-buttons">
        <a href="{{ url_for('logout') }}" class="btn btn-secondary">Logout</a>
    </div>
    {% else %}
    <div class="header-buttons">
        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
        <a href="{{ url_for('register') }}" class="btn btn-secondary">Register</a>
    </div>
    {% endif %}
    <nav>
        <ul>
            <li class="dropdown">
                <a href="{{ url_for('target_orgs_dashboard') }}">Targets</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('target_org_new') }}">Create a Target Organization</a></li>
                    <li><a href="{{ url_for('target_orgs_dashboard') }}">Target Organizations</a></li>
                    <li><a href="{{ url_for('target_subject_new') }}">Create a Target Subject</a></li>
                    <li><a href="{{ url_for('target_subjects_dashboard') }}">Target Subjects</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Recon</a>
                <ul class="dropdown-menu">
                    <li><a href="#">DNS Enumeration</a></li>
                    <li><a href="#">Email Enumeration</a></li>
                    <li><a href="#">AWS Principal Enumeration</a></li>
                    <li><a href="#">Tech Stack Enumeration</a></li>
                    <li><a href="#">Social Media Enumeration</a></li>
                    <li><a href="#">Whois Enumeration</a></li>
                    <li><a href="#">IP Enumeration</a></li>
                    <li><a href="#">Subdomain Enumeration</a></li>
                </ul>
            </li>
            <a href="{{ url_for('index') }}">
                <img class="logo" src="{{url_for('static', filename='img/stinkbait.png')}}">
            </a>
            <li class="dropdown">
                <a href="{{ url_for('campaigns_dashboard') }}">Campaigns</a>
                <ul class="dropdown-menu">
                    <li><a href="{{url_for('new_campaign')}}">Create Phishing Campaign</a></li>
                    <li><a href="#">Deploy Phishing Campaign</a></li>
                    <li><a href="{{url_for('email_template')}}">Email Development</a></li>
                    <li><a href="#">Landing Page Development</a></li>
                    <li><a href="#">Decoy Landing Page Development</a></li>
                    <li><a href="{{url_for('dns_cert_manager')}}">Domain Management</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{{ url_for('implants') }}">Implants</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Create a Payload</a></li>
                    <li><a href="#">Payload Staging</a></li>
                    <li><a href="#">Live Implants</a></li>
                    <li><a href="{{url_for('shell_session')}}">Implant Session</a></li>
                    <li><a href="#">Implant Session Replay</a></li>
                </ul>
            </li>
            <!-- <li class="dropdown">
                <a href="#">Back Office</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Create a Report</a></li>
                    <li><a href="#">Create a KPI Dashboard</a></li>
                    <li><a href="{{ url_for('backoffice_reports') }}">Reports</a></li>
                    <li><a href="#">KPI Dashboards</a></li>
                    <li><a href="{{ url_for('backoffice_documentation') }}">Documentation</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </li> -->
            <!-- <li class="dropdown">
                <a href="#">Profile</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('profile') }}">User Profile</a></li>
                    <li><a href="{{ url_for('reset_password') }}">Password Reset</a></li>
                    <li><a href="{{ url_for('allow_list') }}">Access Allow List</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
</header>