<header>
    <div class="header-buttons">
        <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
        <a href="{{ url_for('register') }}" class="btn btn-secondary">Register</a>
    </div>
    <nav>
        <ul>
            <li class="dropdown">
                <a href="{{ url_for('target_orgs') }}">Targets</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('target_orgs') }}">Organizations Dashboard</a></li>
                    <li><a href="{{ url_for('target_org_new') }}">Create a Target Organization</a></li>
                    <li><a href="{{ url_for('target_subjects_dashboard') }}">Targets Dashboard</a></li>
                    <li><a href="#">Create a Target Profile</a></li>
                    <li><a href="{{url_for('dns_cert_manager')}}">Domain Management</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{{ url_for('campaigns') }}">Campaigns</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Launch Phishing Campaign</a></li>
                    <li><a href="{{url_for('email_template')}}">Email Development</a></li>
                    <li><a href="#">Landing Page Development</a></li>
                    <li><a href="#">Decoy Landing Page Development</a></li>
                </ul>
            </li>
            <a href="{{ url_for('index') }}">
                <img class="logo" src="{{url_for('static', filename='img/stinkbait.png')}}">
            </a>
            <li class="dropdown">
                <a href="{{ url_for('implants') }}">Implants</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Create a Payload</a></li>
                    <li><a href="#">Payload Staging</a></li>
                    <li><a href="#">Live Implants</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="{{ url_for('reports') }}">Reporting</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Create a Report</a></li>
                    <li><a href="#">KPI Dashboard</a></li>
                </ul>
            </li>
            <!-- <li class="dropdown">
                <a href="#">Profile</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('profile') }}">User Profile</a></li>
                    <li><a href="{{ url_for('reset_password') }}">Password Reset</a></li>
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
</header>