{% extends 'base.html' %} {% block title %}Implants{% endblock %} {% block content %}
<h1>Implants</h1>
<div class="search-box">
    <label for="search-input">Search:</label>
    <input type="text" id="search-input" placeholder="Search implants...">
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Target</th>
        <th>Implant Version</th>
        <th>OS Version</th>
        <th>Current User</th>
        <th>AV/EDR</th>
        <th>Lifetime</th>
    </tr>
    {% for implant in potential_implants %}
    <tr>
        <td>{{ implant.id }}</td>
        <td>{{ implant.target }}</td>
        <td>{{ implant.implant_version }}</td>
        <td>{{ implant.os_version }}</td>
        <td>{{ implant.current_user }}</td>
        <td>{{ implant.av_edr }}</td>
        <td>{{ implant.lifetime }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %} {% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#search-input").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("table tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}